<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>詹氏發</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/index.js" defer></script>
</head>
<body>
    <main>
        <div class="tree">
            <div class="tree__title"><h1>彰化縣溪州鄉西畔村 詹氏發宗親會 <span>時</span>字輩 {{ rootTree.name }}公 派下{{ rootTree.chart.subsetName }}輩序表</h1></div>
            <div class="tree__label-container"></div>
            <div class="tree__content">
                <ul>
                    {% import "utils/chart.njk" as chart %}
                    {{ chart.build_tree(rootTree, rootTree.chart.layer) }}
                </ul>
            </div>
        </div>
    </main>
</body>
</html>