{% macro member(data) %}
    <li>
        <div
            class="name-box"
            data-has-died="{{true if data.died else false}}"
            {{ 'data-has-divorced=true' if data.divorced else '' }}
            data-layer="{{ data.layer }}">

            <a href="./display?name={{data.name}}{{',' + data.altName if data.altName is defined}}">
                {%- if data.nameTokens is defined and (data.nameTokens | length) != 1 -%}
                    {%- if data.nameStyle is defined -%}
                        {%- for token in data.nameTokens -%}
                            <span style="{{ data.nameStyle[loop.index0].style or '' if loop.index0 < data.nameStyle | length else '' }}">{{token}}</span>
                        {%- endfor -%}
                    {%- else -%}
                        {{ data.nameTokens | join('') }}
                    {%- endif -%}
                {%- else -%}
                    <span>{{ data.nameTokens[0] | safe }}</span>
                {%- endif -%}
            </a>
            <span class="name-box__alt-name">{{ data.altName or '' }}</span>
            <span class="name-box__title">{{ data.title }}</span>
            <span class="name-box__born">生{{ data.bornDate }}</span>
            <span class="name-box__died">卒{{ data.diedDate }}</span>
        </div>
    </li>
{% endmacro %}
{% macro build_tree(data, n=-1) %}
    <li
        data-parent-count="{{ data.parentCount }}"
        data-child-count="{{ data.childCount if n != 0 else 0 }}"
        {{ 'data-left-pad=true' if data.leftPad else '' }}
        {{ 'data-has-child-group=true' if data.children2 is defined and (data.children2 | length) > 0 else '' }}
        >

        <ul class="parents" {{ 'data-derive-from-second=true' if (data.gender == 'f' or data.gender == 'w') and data.parentCount > 1 else '' }}>
            {{ member(data) }}
            {% for partner in data.partners or [] %}
                {{ member(partner) }}
            {% endfor %}
        </ul>

        {% if n != 0 %}
            {% if ((data.children2 or []) | length) > 0 %}
                <ul class="children-group">
                    <ul class="children">
                        {% for child in data.children %}
                            {{ build_tree(child, n-1) }}
                        {% endfor %}
                    </ul>
                    <ul class="children">
                        {% for child in data.children2 %}
                            {{ build_tree(child, n-1) }}
                        {% endfor %}
                    </ul>
                </ul>
            {% elif ((data.children or []) | length) > 0 %}
                <ul class="children">
                    {% for child in data.children %}
                        {{ build_tree(child, n-1) }}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </li>
{% endmacro %}